:root {
  --bg-dark-color: #222222;
  --text-light-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark-color);
  color: var(--text-light-color);
}